/assets/* linguist-vendored
/FLASH/* linguist-vendored
/HTML5/CognitiveModel/* linguist-vendored
/HTML5/Graphs/* linguist-vendored
/HTML5/media/* linguist-vendored
/HTML5/test/* linguist-vendored
/HTML5/vendor/* linguist-vendored
